* {
    padding: 0;
    margin: 0;
}

body {
    background: whitesmoke;
}

.search_for_song {
    margin: 20px;
}

.instruction_btn {
    width: 100px;
    height: 30px;
    line-height: 30px;  /* 設置成和高度相同，讓文字垂直居中 */

    position: absolute;
    top: 70px;
    left: 100px;

    background-color: #A5DE37;
    border-color: #A5DE37;
    border-radius: 200px;

    box-shadow: 0 7px 0 #8bc220, 0 8px 3px rgba(0, 0, 0, 0.3);

    color: white;
    text-align: center;

    user-select: none;  /* 讓文字無法被選中 */

    transition-duration: .3s;  /* 指定從舊樣式變化到新樣式所需的時間 */
}

.instruction_btn:hover, .song_list_btn:hover {
    background-color: #b9e563;
    border-color: #b9e563;

    box-shadow: 0 7px 0 #84b91f, 0 8px 3px rgba(0, 0, 0, 0.3);
}

/* :active 當鼠標按下到釋放之間的時間，就算是active */
.instruction_btn:active, .song_list_btn:active {
    background-color: #a1d243;
    border-color: #a1d243;

    box-shadow: 0 2px 0 #6b9619, 0 3px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);

    color: #8bc220;
    
    transition-duration: .15s;
}

.song_list_btn {
    width: 100px;
    height: 30px;
    line-height: 30px;  /* 設置成和高度相同，讓文字垂直居中 */

    position: absolute;
    top: 70px;
    right: 150px;

    background-color: #A5DE37;
    border-color: #A5DE37;
    border-radius: 200px;

    box-shadow: 0 7px 0 #8bc220, 0 8px 3px rgba(0, 0, 0, 0.3);

    color: white;
    text-align: center;

    user-select: none;  /* 讓文字無法被選中 */

    transition-duration: .3s;  /* 指定從舊樣式變化到新樣式所需的時間 */
}

.song_list {
    display: none;

    position: absolute;
    top: 140px;
    right: 90px;

    width: 240px;
    height: 410px;
    padding-top: 10px;

    background-color: rgb(244, 226, 255);
    border-radius: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.song_list > ul > li {
    line-height: 30px;
    margin-left: 30px;
    list-style-type: decimal;
}

#instruction {
    display: none;

    width: 360px;
    height: 180px;

    position: absolute;
    top: 120px;
    left: 100px;

    line-height: 30px;
    padding-left: 10px;

    background-color: rgb(244, 226, 255);
    border: 3px solid white;
    border-style: double;
    border-radius: 10px;

    color: rgb(56, 56, 56);
}

.piano > li > .tips {
    background: rgb(255, 97, 97);
}

ul.piano {
    width: 480px;
    height: 360px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.piano > li {
    position: relative;  /* 爲了黑鍵用的position: absolute; */
    float: left;
    list-style-type: none;
}

.piano > li > div {
    width: 60px;
    height: 360px;
    box-sizing: border-box;

    border: 1px solid;
    border-color: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    background-color: rgba(255, 255, 255, .3);

    box-shadow: inset 5px -8px #00000023;

    /* 下面三個屬性用於調整文字佈局 */
    text-align: center;  /* 水平方向對齊 */
    display: table-cell;
    vertical-align: bottom;
}

.piano > li:not(:last-child) > div {
    border-right: none;
}

.piano > li > div:hover {
    background: rgb(255, 97, 97)
}

/* 按下白鍵 */
.white_active {
    box-shadow: inset 3px -2px 0 #00000036;
    background: linear-gradient(45deg, rgba(255,255,255,.7), rgba(255,255,255,.5));
}

.piano > li > p {
    width: 40px;
    height: 200px;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 999;

    background-color: #000;

    border-bottom-left-radius: 5.5px;
    border-bottom-right-radius: 5.5px;

    box-shadow: inset 5px -7px 0 #2c2c2c
}

.piano > li > p:hover {
    background: linear-gradient(45deg, #4c4c4c, #444444);
}

.black_active {
    box-shadow: inset 3px -5px 0 #2c2c2c;
    background: linear-gradient(45deg, #4c4c4c, #444444);
}

#lyrics {
    position: absolute;
    top: calc(50vh + 200px);
    left: 50%;
    transform: translate(-50%);

    width: 200px;
    height: 30px;

    text-align: center;
    line-height: 30px;
}